# ===== Maven =====
/target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# ===== STS / Eclipse =====
.classpath
.project
.settings/
*.launch
*.prefs

# ===== IntelliJ / VS Code
.idea/
*.iml
.vscode/

# ===== Logs =====
*.log

# ===== Sistema operativo =====
.DS_Store
Thumbs.db
*.tmp



